@include media-breakpoint-between(xs, sm) {

	div#hero-full, div#home-full {

		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
		  line-height:  $headings-line-height / 1.15 !important;
		}

		h1, .h1 { font-size: $font-size-h1 / 3; }

		.lead {
		  font-size: $lead-font-size / 1.25 !important;
		  font-weight: $lead-font-weight;
		}

		div#hero-date p {
			font-size: $font-size-base * 1.5 !important;
			line-height: $headings-line-height / 1.25;
		}

		div#hero-excerpt p {
			font-size: $font-size-base !important;
			line-height: $headings-line-height / 1.25;
		}

		// Type display classes
		.display-1 {
		  font-size: $display1-size / 3;
		}

	}

	div#loop {

		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
		  line-height:  $headings-line-height / 1.15 !important;
		}

		h2, .h2 { font-size: $font-size-h2 / 1.25 !important; }

		.lead {
		  font-size: $lead-font-size / 1.25 !important;
		  font-weight: $lead-font-weight;
		}

	}

	div#footer {

		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
		  line-height:  $headings-line-height / 1.15 !important;
		}

		p.h4 { font-size: $font-size-h4 / 1.5; }
		p { font-size: $font-size-h4 / 1.75; }

	}


}

@include media-breakpoint-only(md) {

	div#hero-full, div#home-full {

		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
		  line-height:  $headings-line-height / 1.05 !important;
		}

	}

}

@include media-breakpoint-only(lg) {



}
@include media-breakpoint-only(xl) {



}
