div#home-button {


	@include media-breakpoint-only(xs) {
		position: relative;
		display: inline-block;
		top: 1rem;
		left: 1rem;
	}

	@include media-breakpoint-only(sm) {
		position: relative;
		display: inline-block;
		top: 1rem;
		left: 1rem;
	}

	@include media-breakpoint-only(md) {
		position: relative;
		display: inline-block;
		top: 1rem;
		left: 1rem;
	}

	@include media-breakpoint-only(lg) {
		position: absolute;
		display: block;
		top: 2rem;
		left: 2rem;
	}

	@include media-breakpoint-only(xl) {
		position: absolute;
		display: block;
		top: 3rem;
		left: 2rem;
	}

	width: 50px;
	height: 50px;

	background: $body-bg;

	padding: 0;

	svg {

		width: 50px;
		height: 50px;

		path {
			fill: #ffffff;

			&:hover, &:focus {
				fill: $brand-primary;
			}
		}
	}

	z-index: 1000;
}