div#home-full {
	@extend .full-height;
	
	background-image: url(/assets/images/home-bg/coffee.jpg); 
	background-image: -webkit-image-set(url(/assets/images/home-bg/coffee.jpg) 1x,
	   url(/assets/images/home-bg/coffee-2x.jpg) 2x);
	background-image: -moz-image-set(url(/assets/images/home-bg/coffee.jpg) 1x,
	   url(/assets/images/home-bg/coffee-2x.jpg) 2x);
	background-image: -o-image-set(url(/assets/images/home-bg/coffee.jpg) 1x,
	   url(/assets/images/home-bg/coffee-2x.jpg) 2x);
	background-image: -ms-image-set(url(/assets/images/home-bg/coffee.jpg) 1x,
	   url(/assets/images/home-bg/coffee-2x.jpg) 2x);
	   
	h1.display-1 {
		display: inline;
		line-height: 1.4; 
		padding: 2px 0; 
		width: 400px;
		margin: 20px auto;
						
		font-weight: 500;
		color: white;
		text-decoration: none !important;
		
		span {
			background-color: #1d1d1d;
			color: #fff; 
			display: inline;
			padding: 0.0rem 0.6rem;

			/* Needs prefixing */
			-webkit-box-decoration-break: clone;
			-moz-box-decoration-break: clone;
			-o-box-decoration-break: clone;
			-ms-box-decoration-break: clone;
		}

	}
	
	div#home-title-sub {
		
		padding-top: 1rem;
		
		p {
			display: inline;
			line-height: 1.4; 
			padding: 2px 0; 
			width: 400px;
			margin: 20px auto;
					
			font-size: $font-size-root * 2;
			color: white;
			text-decoration: none !important;
	
			span {
				background-color: #1d1d1d;
				color: #fff; 
				display: inline;
				padding: 0.45rem;
				
				/* Needs prefixing */
				-webkit-box-decoration-break: clone;
				-moz-box-decoration-break: clone;
				-o-box-decoration-break: clone;
				-ms-box-decoration-break: clone;
			}
			
		}

	}
	
}

div#loop {
	@extend .full-height;
	padding: 3rem 1rem;
	
	li {
		display: inline-block;
		position: relative;
		margin: 4rem 0;
	}
	
	h2#title {		

		@extend .display-4;
		font-weight: 500;
				
		a {
			padding-top: 2rem;
			border-top: 8px solid $brand-primary;
		}
	}
	
	time#post-date {
		color: #7b7b7b !important;
	}
	
}