div#hero-full {
	@extend .full-height;

	@include media-breakpoint-only(xs) {

		div.row.full-height {
			min-height: 80vh !important;
		}

	}

	@include media-breakpoint-only(sm) {

		div.row.full-height {
			min-height: 80vh !important;
		}

	}

	@include media-breakpoint-only(md) {

		div.row.full-height {
			min-height: 80vh !important;
		}

	}

	@include media-breakpoint-only(lg) {



	}

	@include media-breakpoint-only(xl) {



	}


	h1.display-1 {
		display: inline;
		line-height: 1.4;
		padding: 2px 0;
		width: 400px;
		margin: 20px auto;

		font-weight: 500;
		color: white;
		text-decoration: none !important;

		span {
			background-color: #1d1d1d;
			color: #fff;
			display: inline;
			padding: 0.0rem 0.6rem;

			/* Needs prefixing */
			-webkit-box-decoration-break: clone;
			-moz-box-decoration-break: clone;
			-o-box-decoration-break: clone;
			-ms-box-decoration-break: clone;
		}

	}

	div#hero-excerpt {

		padding-top: 1rem;

		p {
			display: inline;
			line-height: 1.6;
			padding: 2px 0;
			width: 400px;
			margin: 20px auto;

			font-size: $font-size-root * 1.25;
			color: white;
			text-decoration: none !important;

			span {
				background-color: #1d1d1d;
				color: #fff;
				display: inline;
				padding: 0.45rem;

				/* Needs prefixing */
				-webkit-box-decoration-break: clone;
				-moz-box-decoration-break: clone;
				-o-box-decoration-break: clone;
				-ms-box-decoration-break: clone;
			}

		}

	}

	div#hero-date {

		padding-top: 1rem;

		p {
			display: inline;
			line-height: 1.0;
			padding: 2px 0;
			width: 400px;
			margin: 20px auto;

			font-size: $font-size-root * 2;
			color: white;
			text-decoration: none !important;

			span {
				background-color: #1d1d1d;
				color: #fff;
				display: inline;
				padding: 0.45rem;

				/* Needs prefixing */
				-webkit-box-decoration-break: clone;
				-moz-box-decoration-break: clone;
				-o-box-decoration-break: clone;
				-ms-box-decoration-break: clone;
			}

		}

	}

}

div#post-content {

	@extend .full-height;

	padding: 3rem 1rem;

	font-size: $font-size-root * 1.2;

	p:first-child:first-letter {
		float: left;
		color: $body-bg;
		background: $body-color;
		font-size: $font-size-root * 7;
		font-weight: 600;
		line-height: 60px;
		padding: 2rem;
		margin: 0.3rem 1rem 0.5rem 0;
	}

}