{% if page.layout == "home" %}

<div id="home-full" class="container-fluid">

	<div class="container">

		<div class="row full-height">

			<div class="col-xs flex-xs-middle">

				<h1 class="display-1"><span>{{ site.title }}</span></h1>

				<div id="home-title-sub">

					<p class="lead"><span>{{ site.description }}</span></p>

				</div>

			</div>

		</div>

	</div>

</div>

{% elsif page.layout == "post" %}

<div id="hero-full" class="container-fluid">

<a href="#hero-full" class="sr-only sr-only-focusable">Skip to main content</a>

{% include home-button.html %}

	<div class="container">

		<div class="row full-height">

			<div class="col-xs flex-xs-middle">

				<h1 class="display-1"><span>{{ page.title }}</span></h1>

				<div id="hero-date">

					<p class="lead"><span><time id="post-date" datetime="{{ post.date }}">{{ page.date | date: " %d %B %Y" }}</time></span></p>

				</div>

				<div id="hero-excerpt">

					<div class="row">

						<div class="col-xs-12 col-md-8">

							<p><span>{{ page.excerpt | remove: '<p>' | remove: '</p>' }}</span></p>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>

{% endif %}