{% for post in site.categories.beans %}
	{% if post.url %}
	<div class="card-stack-card">
		<div class="image" style="background-image: url('{{ post.image | prepend: site.image-path | prepend: site.baseurl | prepend: site.url }}') 1x,
				url('{{ post.image | prepend: site.image-2x-path | prepend: site.baseurl | prepend: site.url }}') 2x;
					background-image: -webkit-image-set(url('{{ post.image | prepend: site.image-path | prepend: site.baseurl | prepend: site.url }}') 1x,
				url('{{ post.image | prepend: site.image-2x-path | prepend: site.baseurl | prepend: site.url }}') 2x);
					background-image: -moz-image-set(url('{{ post.image | prepend: site.image-path | prepend: site.baseurl | prepend: site.url }}') 1x,
				url('{{ post.image | prepend: site.image-2x-path | prepend: site.baseurl | prepend: site.url }}') 2x);
					background-image: -o-image-set(url('{{ post.image | prepend: site.image-path | prepend: site.baseurl | prepend: site.url }}') 1x,
				url('{{ post.image | prepend: site.image-2x-path | prepend: site.baseurl | prepend: site.url }}') 2x);
					background-image: -ms-image-set(url('{{ post.image | prepend: site.image-path | prepend: site.baseurl | prepend: site.url }}') 1x,
				url('{{ post.image | prepend: site.image-2x-path | prepend: site.baseurl | prepend: site.url }}') 2x);"><div class="image-cover"></div></div>


			<article>
				<div class="card-content">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
						<h2>{{ post.title }}</h2>
					</a>
				</div>
			</article>

	</div>
	{% endif %}
{% endfor %}

	<div class="card-stack-card">
		<div class="image"><div class="image-cover"></div></div>


			<article>
				<div class="card-content">
					<a href="{{ '/beans/' | prepend: site.baseurl | prepend: site.url }}">
						<h2>More&#8230;</h2>
					</a>
				</div>
			</article>

	</div>

<div class="card-stack-card-end"></div>