---
layout: default
---

<div id="post">

	<div id="header" style="	background-image: url({{ page.image | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }});
								background-image: -webkit-image-set(url({{ page.image | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}) 1x,
									url({{ page.image | prepend: site.image-2x-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}) 2x);
								background-image: -moz-image-set(url({{ page.image | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}) 1x,
									url({{ page.image | prepend: site.image-2x-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}) 2x);
								background-image: -o-image-set(url({{ page.image | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}) 1x,
									url({{ page.image | prepend: site.image-2x-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}) 2x);
								background-image: -ms-image-set(url({{ page.image | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}) 1x,
									url({{ page.image | prepend: site.image-2x-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}) 2x);">

		<div class="container">

			<h1>
				<span class="small-header">Beans means coffee</span>
				{{ page.title }}
			</h1>
			<a class="arrow-down" href="#post-stats"><span class="sr-only">Skip to content</span></a>

		</div>

	</div>

	{% if page.purchases %}

	<div id="post-stats">

		<div class="container">

			{% include stats/receipt.html %}

		</div>

	</div>

	{% endif %}



	<div id="post-content">

		<div class="container">

			<div class="row flex-items-xs-center">

				<div class="col-xs-12 col-sm-10 col-md-8">

					<h1>{{ page.title }}</h1>

					{{ content }}

					<div id="beans-stats">

						<h2>Flavours</h2>

						{% include stats/taste-wheel.html %}

						<p>We've described the flavours of this coffee using the <a href="/vocabulary/">vocabulary</a> developed by <a href="//worldcoffeeresearch.org/work/sensory-lexicon/">World Coffee Research</a>.</p>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>